build/
out/
*.class
*.jar
*.war
*.ear

.mvn/wrapper/maven-wrapper.jar
.gradle/
!gradle/wrapper/gradle-wrapper.jar

logs/
*.log
*.out
*.err

*.sql
*.db
*.sqlite
*.sqlite3

.env
.env.*
application-local.properties
application-dev.properties
application-secret.properties

.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*~

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pid
*.seed

coverage/
*.lcov

tmp/
temp/
*.tmp

*.swp
*.bak
*.orig
